
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> {{ProprietarioManterCtrl.titulo}}</h1>
      <p>Cadastre os dados do proprietário</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li><a href="#">{{ProprietarioManterCtrl.titulo}}</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!--h3 class="card-title">Texto</h3-->
        <div class="card-body">
          <form name="proprietarioForm">
            <div class="row">
              <div class="form-group col-md-2">
                <div class="image"><img class="img-circle" src="images/48.jpg" alt="User Image" style="width:120px"></div>
              </div>              
            </div>            
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">Nome</label>
                <input class="form-control" type="text" placeholder="" ng-model="ProprietarioManterCtrl.proprietario.nome">
              </div>
              <div class="form-group col-md-6">
                <label class="control-label">Email</label>
                <input class="form-control" type="email" placeholder="" ng-model="ProprietarioManterCtrl.proprietario.email">
              </div>
            </div>
            <div class="row">    
              <div class="form-group col-md-6">
                <label class="control-label">CPF</label>
                <input class="form-control" type="text" placeholder="" ng-model="ProprietarioManterCtrl.proprietario.cpf">
              </div>

              <div class="form-group col-md-6">
                <label class="control-label">Debito</label>
                <input class="form-control" type="text" placeholder="" ng-model="ProprietarioManterCtrl.proprietario.debito">
              </div> 
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label class="control-label">Telefone</label>
                <input class="form-control" type="text" placeholder="" ng-model="ProprietarioManterCtrl.proprietario.telefone">
              </div>  
              <div class="form-group col-md-6">
                <label class="control-label">Telefone Contato</label>
                <input class="form-control" type="text" placeholder="" ng-model="ProprietarioManterCtrl.proprietario.telefoneContato">
              </div> 
            </div>
            <div class="row">                              
              <div class="form-group col-md-6">
                <label class="control-label">RG</label>
                <input class="form-control" type="text" placeholder="" ng-model="ProprietarioManterCtrl.proprietario.rg">
              </div>   
              <div class="form-group col-md-6">
                <label class="control-label col-md-8">O proprietário encontra-se <b>ADIMPLENTE</b></label>
                <div class="col-md-4">
                  <div class="radio-inline">
                    <label>
                      <input type="radio" value="S" name="adimplente" ng-model="ProprietarioManterCtrl.proprietario.adimplente">Sim
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" value="N" name="adimplente" ng-model="ProprietarioManterCtrl.proprietario.adimplente">Não
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="control-label col-md-8">O proprietário é <b>MORADOR</b> do apartamento</label>
                <div class="col-md-4">
                  <div class="radio-inline">
                    <label>
                      <input type="radio" value="S" name="morador" ng-model="ProprietarioManterCtrl.proprietario.morador">Sim
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" value="N" name="morador" ng-model="ProprietarioManterCtrl.proprietario.morador">Não
                    </label>
                  </div>
                </div>
              </div>                                       
            </div>            
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary icon-btn" type="button" ng-click="ProprietarioManterCtrl.cadastrar(proprietarioForm)"><i class="fa fa-fw fa-lg fa-check-circle"></i>Cadastrar</button>&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default icon-btn" ui-sref='proprietario-listar'><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
      </div>
    </div>
  </div>
  <div class="clearix"></div>
</div>
</div>