
<div class="content-wrapper">
  <div class="page-title">
    <div>
      <h1><i class="fa fa-dashboard"></i> {{ProprietarioListarCtrl.titulo}}</h1>
      <p>A free and modular admin template</p>
    </div>
    <div>
      <ul class="breadcrumb">
        <li><i class="fa fa-home fa-lg"></i></li>
        <li><a href="#">{{ProprietarioListarCtrl.titulo}}</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-title"><button class="btn btn-primary icon-btn" type="button" ui-sref='proprietario-manter'><i class="fa fa-fw fa-lg fa-check-circle"></i>Cadastrar</button></div>
        <div class="card-body">
          <table class="table table-hover table-bordered" id="sampleTable">
            <thead>
              <tr>
                <th class="col-md-3" >Nome</th>
                <th class="col-md-2">E-mail</th>
                <th class="col-md-1">RG</th>
                <th class="col-md-2">Telefone</th>
                <th class="col-md-2">Contato</th>
                <th class="col-md-2"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="objeto in ProprietarioListarCtrl.proprietarios">
                <td class="vertical-align-important">{{objeto.nome}}</td>
                <td class="vertical-align-important">{{objeto.email}}</td>
                <td class="vertical-align-important">{{objeto.rg}}</td>
                <td class="vertical-align-important">{{objeto.fonePrincipal}}</td>
                <td class="vertical-align-important">{{objeto.foneSecundario}}</td>
                <td class="text-center vertical-align-important">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="#"><i class="fa fa-lg fa-eye"></i></a>
                    <a class="btn btn-primary" ng-click="ProprietarioListarCtrl.atualizar(objeto)" ><i class="fa fa-lg fa-edit"></i></a>
                    <a class="btn btn-primary" ng-click="ProprietarioListarCtrl.remover(objeto.id)" ><i class="fa fa-lg fa-trash"></i></a>
                  </div>
                </td>
              </tr>                
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>                
</div>

<!--script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script-->